{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row h-100">
        <div class="col-12 mx-auto px-0">
            <!-- Carousel with three images that cover the whole or half the screen -->
            {% include 'includes/carousel.html' %}

            <div class="my-5">
                <h4 class="text-center">
                    <a href="#" class="btn btn-warning btn-lg">View Offers</a>
                </h4>
            </div>
        </div>
    </div>
</div> 
{% endblock %}
             