<!--Modal for responsible alcohol consumption-->
<div class="modal fade" id="responsibleModal" tabindex="-1" role="dialog" aria-labelledby="responsibleModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title text-black font-weight-bold" id="responsibleModalTitle">Responsible Alcohol Consumption</h4>
             <button type="button" class="close text-black" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="policies-modal-body bg-white overflow-scroll">
             <p>Cellar'89 stands for responsible enjoyment. We want adults to enjoy moments with a nice glass, but we think it is very important that you handle it responsibly.</p>
             <p>We want to contribute to promoting responsible alcohol consumption and reducing alcohol abuse.</p>
             <p>We know and take responsibility in preventing sales to minors.</p>
             <p>We endorse and strictly adheres to the rules and legislation that exist for the sale of alcoholic beverages.</p>

             <h2>Youth and Alcohol</h2>
             <p>Cellar'89 does not sell alcoholic beverages to young people under the age of 18. We only sell beverages to buyers aged 18 and over. Not only because this is prohibited by law, but also because young people should not drink alcohol at all.</p>

             <h5>Are you under 18?</h5>
             <p>Then we cannot grant you access to our online store. We request your understanding for this.</p>

             <h2>Tips for Parents:</h2>
             <ul>
               <li>Set a good example to your children and drink in moderation.</li>
               <li>Set clear rules: No alcohol under 18.</li>
               <li>Inform yourself about the effect and consequences of alcohol.</li>
             </ul>

             <h2>Soft Facts</h2>
             <p>Did you know you don’t actually digest alcohol when you drink it? Instead, once hitting your stomach, it absorbs straight into your bloodstream.</p>
             <p>You might think that alcohol makes you sleep better because it makes you drowsy, but it turns out alcohol actually lessens your sleep quality.</p>
             
             
             <h2>For More Information</h2>
             <p>Be sure to visit the websites below:</p>
             <ul>
               <li>
                  <a href="https://www.alcoholinfo.nl/" aria-label="Alcohol info webpage" rel="noopener" 
                  target="_blank">Alcohol info</a>
               </li>
               <li>
                  <a href="https://www.nix18.nl/" aria-label="NIX18 webpage" rel="noopener" 
                  target="_blank">NIX18</a>
               </li>
             </ul>

             <div class="row justify-content-center">
                <div class="col-5">
                   <button type="button" class="btn btn-warning btn-block text-black" data-dismiss="modal">Cancel</button>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>