<!-- Modal to confirm review deletion -->

<div class="modal fade" id="deleteReviewModal{{ review.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteReviewModalTitle_{{ review.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-black font-weight-bold" id="deleteReviewModalTitle_{{ review.id }}">Delete Review</h4>
                <button type="button" class="close text-black" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="delete-modal-body">
                <p class="text-shadow">Are you sure you want to delete your review of <strong><i class="text-black">{{ product.name }}</i></strong>?</p>
            </div>
            <div class="row p-3">
                <div class="col-6">
                    <button type="button" class="btn btn-warning btn-block text-black" data-dismiss="modal">Cancel</button>
                </div>
                <div class="col-6">
                    <a role="button" href="{% url 'delete_review' review.id %}" class="btn btn-danger btn-block text-black">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>