<!--Modal for responsible alcohol consumption-->
<div class="modal fade" id="suggestionModal" tabindex="-1" role="dialog" aria-labelledby="suggestionModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title text-black font-weight-bold" id="suggestionModalTitle">How to Choose Wine:</h4>
             <button type="button" class="close text-black" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="policies-modal-body bg-white overflow-scroll">
            <h2>How do I Choose a Good Wine?</h2>
            <p>To choose wine, you must first consider why you are drinking the wine.
                Are you pairing for a dinner party? Choosing a bottle at a restaurant? A celebratory gift for someone? Or just looking for something to share on a Saturday night?
                Whatever the occasion, a bottle of wine holds importance- whether it is in an investment in an evening or an expression of a relationship.</p>
            <h3 class="fst-italic">Know What Flavors You Want</h3>
            <p> Wine is made up of three major taste points- sweet, from the natural sweetness of the grape, sour, also from the natural flavors of the grape- often referred to instead, as crisp, tart, fresh, etc, and bitter- referred to instead as tannin.</p>
            <p>If you are relatively new to wine, then it is good advice to steer clear from wines with heavy tannins.</p>
            <h3 class="fst-italic">Know Which Type of Wine You Want</h3>
            <p>If you already know that you like light-bodied white wines like Pinot Grigio, try other light-bodied white wines like Sauvignon Blanc.</p>
            <p>Everything can affect the flavor of a wine, from the type of soil that it was grown in, to the amount of rainfall vs. sunshine that year.</p>
            <h3></h3>

             <div class="row justify-content-center">
                <div class="col-4">
                   <button type="button" class="btn btn-warning btn-block text-black" data-dismiss="modal">Cancel</button>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>