@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Josefin+Sans:wght@300;400&display=swap');

html {
    height: 100%;
}

body {
    /* mycolor.space used to generate gradient style */
    background-image: linear-gradient(to left bottom, #ee7272, #dc5d5b, #ca4844, #b7322e, #a31818);
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Dancing Script', cursive;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/*--NavBar--*/
.nav-link {
    font-size: 15px !important;
}

.navbar-nav .nav-link {
    color: #6d0202 !important;
    padding-left: 20px !important;
}

.dropdown-item:hover {
    background-color: #ee7272!important;
}


.btn-black {
    background: black;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.card {
    padding: 10px;
}

.card, .card-img-top {
    border-radius: 15px;
    margin: 0 auto;
}

.card img {
    border-radius: 15px;
    margin: 0 auto;
    height: 45vh;
}

.link {
    color: black;
    text-decoration: none;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}