@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Josefin+Sans:wght@300;400&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    /*-- the following settings to keep footer at bottom of page --*/
    min-height:150vh;
    display: flex;
    flex-direction: column;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Dancing Script', cursive !important;
}

.callout-container {
    height: 100vh;
    background: url('/media/wine-tank-room.jpeg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}


/* Jumbotron */

.jumbotron {
    background-color: #ffb9b9;
}

.jumbotron h1 {
    color: #360000;
    font-weight: bold;
    margin-bottom: 30px;
    color: #360000;
    font-family: 'Dancing Script', cursive;
}

/* Block dividers */

.block-divider {
    width: 200px;
    height: 2px;
    border: 0;
    background-color:  #444;
}

.block-divider--red {
    background-color: #6d0202;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-img {
    width: 180px;
    height: 70px;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}

.main-logo-link {
    width: fit-content;
}

/*--NavBar--*/
.nav-link {
    font-size: 15px !important;
}

.navbar-nav .nav-link {
    color: #6d0202 !important;
    padding-left: 20px !important;
}

.dropdown-item:hover {
    background-color: #ee7272!important;
}

#delivery-banner {
    background-color: #ffb9b9!important;
}

.badge {
    font-size: 95% !important;
}

.btn-black {
    background: black;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:focus {
    background: #000;
    color: #fff !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.card {
    padding: 10px;
}

.card, .card-img-top {
    border-radius: 15px;
    margin: 0 auto;
    max-height: 500px;
    align-items: center;
}

.card img {
    border-radius: 15px;
    margin: 0 auto;
    height: 45vh;
    width: 80vh;
}

.link {
    color: black;
    text-decoration: none;
}

a.category-badge > span.badge:hover {
    background: #ee7272 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 2px solid #6d0202;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}


.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Classes for messages colors */

.border-success {
    border-color: #2db300 !important;
}

.border-error {
    border-color: #ff3300 !important;
}

.border-warning {
    border-color: #ffbd07 !important;
}

.border-info {
    border-color: #1778b8 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.review-box {
    height: 30vh;
    border-radius: 15px;
    padding: 10px;
    background: #ffb9b9;
    border: 1px solid #6d0202;
}

.review-form {
    height: 60vh;
    border-radius: 15px;
    padding: 10px;
    background: #ffb9b9;
    border: 1px solid #6d0202;
}

.review-modal-body,
.remove_wishlist-modal-body,
.delete-modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
    text-align: center;
}

/*----Policies Modal----*/
.policies-modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
}

/*----FLYER MESSAGE----*/

.message-container-flyer{
    position: absolute;
    right: 30px;
    top: 300px;
    padding-top: 5%;
}

.message-container-flyer .box{
    background: #ffb9b9;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 15px 25px 15px 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.message-container-flyer .box i{
    position: absolute;
    right: 15px;
    top: 10px;
    color: #6d0202;
    cursor: pointer;
}
  
.message-container-flyer i:hover{
    color: white;
}
  
.box .right{
    display: flex;
    flex-direction: column;
}
  
.box .right .text-1{
    font-size: 18px;
    font-weight: 600;
    color: black;
}
  
.message-container-flyer #hide{
    display: none;
} 


/*---------- CONTACT US PAGE ----------*/
.contact__main--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffb9b9;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    border-radius: 0.25em;
    padding: 1.2rem 1rem;
    width: 100%;
    max-width: 50rem;
    margin-left: 20rem;
    margin-top: 5rem;
}
  
.container.contact-form {
    width: 95% !important;
}
  
.contact-form .form-control {
    border-radius: 1rem;
    margin-bottom: 10px;
}
  
.contact-form form {
    padding-bottom: 10%;
}
  
.contact-form form .row {
    margin-bottom: -7%;
}
  
.contact-form h2 {
    color: white;
    margin-bottom: 10%;
    margin-top: -10%;
    text-align: center;
}
  
.contact-form h3 {
    color: white;
    margin-bottom: 5%;
    margin-top: -5%;
    text-align: center;
}
  
.contact__main--container h3 {
    margin-bottom: 3vh;
    font-size: 1.2rem;
    color: #353535;
}    


/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 1;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 1;
}

/*-----Wishlist--------*/

.wishlist {
    margin-left: 7rem;
}
.btn-wish {
    color: #EB4C42;
    border: none;
    background: transparent;
}


/*---------- FOOTER ----------*/

footer {
    margin-top: auto;  
    width:100%;
    color: black;
}
  
#footer-external-links> a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem ;
}
  
#footer-external-links> a:hover {
    color: #ee7272;
}

/*---Mailchimp---*/
#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px 'Josefin Sans', sans-serif;
    width: 400px;
}

/*--- Allauth form formatting --- */

.allauth-form-inner-content {
    padding: 12px;
    background: #ffb9b9;
    box-shadow: 0 0 7px black;
    border: 1px solid #6d0202;
    border-radius: 15px;
    margin: 5rem auto 0;
    max-width: 650px;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 1;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffc107;
    border: 2px solid #ffc107;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #a31818;
    border-color: #a31818;
}

/*---Social account provider---*/
.socialaccount_providers {
    list-style:none;
    background-image: url('/media/google.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    font-size: 1.2rem;
    font-weight: 900;
    background-color: white;
    border-radius: 0.25rem;
    border: 1px solid grey;
    height: 3rem;
    background-position: center;
}

.socialaccount_provider.google {
    color: white;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-left: 4rem;
 
}

.socialaccount_providers:hover {
    background-color: #F5FFFA;
}

.login-or {
    font-size: 1.5rem;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
    
    .jumbotron h1{
        font-weight: lighter;
    }
    
    .message-container-flyer {
        right: 45px;
        top: 450px;
    }

    .footer {
        margin-top: 7rem;
    }

    #mc_embed_signup .indicates-required {
        text-align: center !important;
    }

    #mc_embed_signup .mc-field-group input {
        width: 70% !important;
    }

    #mc_embed_signup .foot {
        width: 50% !important;
    }

    .modal-content {
        width: 75%!important;
    }

    .policies-modal-content {
        width: 75%!important;
    }

    .wishlist {
        margin-left: 1rem;
    }
    
    
}