@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Josefin+Sans:wght@300;400&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.callout-container {
    height: 100vh;
    background: url('/media/wine-tank-room.jpeg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}


/* Jumbotron */

.jumbotron {
    background-color: #ffb9b9;
}

.jumbotron h1 {
    color: #360000;
    font-weight: bold;
    margin-bottom: 30px;
    color: #360000;
}

/* Block dividers */

.block-divider {
    width: 200px;
    height: 2px;
    border: 0;
    background-color:  #444;
}

.block-divider--red {
    background-color: #6d0202;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Dancing Script', cursive;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/*--NavBar--*/
.nav-link {
    font-size: 15px !important;
}

.navbar-nav .nav-link {
    color: #6d0202 !important;
    padding-left: 20px !important;
}

.dropdown-item:hover {
    background-color: #ee7272!important;
}


.btn-black {
    background: black;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.card {
    padding: 10px;
}

.card, .card-img-top {
    border-radius: 15px;
    margin: 0 auto;
}

.card img {
    border-radius: 15px;
    margin: 0 auto;
    height: 45vh;
}

.link {
    color: black;
    text-decoration: none;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}