<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-wines-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Product Range
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-wines-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=country&direction=asc" class="dropdown-item ">By Country</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="types-of-wine-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Type of Wine
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="types-of-wine-link">
                <a href="{% url 'products' %}?category=red_wine" class="dropdown-item">Red Wine</a>
                <a href="{% url 'products' %}?category=white_wine" class="dropdown-item">White Wine</a>
                <a href="{% url 'products' %}?category=rose_wine" class="dropdown-item">Rosé Wine</a>
                <a href="{% url 'products' %}?category=sparkling_wine" class="dropdown-item">Sparkling Wine</a>
                <a href="{% url 'products' %}?category=champagne" class="dropdown-item">Champagne</a>
                <a href="{% url 'products' %}?category=red_wine,white_wine,rose_wine,sparkling_wine,champagne" class="dropdown-item">All Wines</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=discounts" class="dropdown-item">Discounts</a>
                <a href="{% url 'products' %}?category=wine_packages" class="dropdown-item">Wine Packages</a>
                <a href="{% url 'products' %}?category=discounts,wine_packages" class="dropdown-item">All Offers</a>
            </div>
        </li>
    </ul>
</div>