<!--Modal for wine suggestion-->
<div class="modal fade" id="suggestionModal" tabindex="-1" role="dialog" aria-labelledby="suggestionModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h2 class="modal-title text-black font-weight-bold" id="suggestionModalTitle">How to Choose Wine:</h2>
             <button type="button" class="close text-black" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body bg-white overflow-scroll">
            <p>To choose wine, you must first consider why you are drinking the wine.
                Are you pairing for a dinner party? Choosing a bottle at a restaurant? A celebratory gift for someone? Or just looking for something to share on a Saturday night?
                Whatever the occasion, a bottle of wine holds importance- whether it is in an investment in an evening or an expression of a relationship.</p>
            <h4 class="fst-italic">Know What Flavors You Want</h4>
            <p> Wine is made up of three major taste points- sweet, from the natural sweetness of the grape, sour, also from the natural flavors of the grape- often referred to instead, as crisp, tart, fresh, etc, and bitter- referred to instead as tannin.</p>
            <p>If you are relatively new to wine, then it is good advice to steer clear from wines with heavy tannins.</p>
            
            <h4 class="fst-italic">Know Which Type of Wine You Want</h4>
            <p>If you already know that you like light-bodied white wines like Pinot Grigio, try other light-bodied white wines like Sauvignon Blanc.</p>
            <p>Everything can affect the flavor of a wine, from the type of soil that it was grown in, to the amount of rainfall vs. sunshine that year.</p>
            
            <h4>Pairing Wine With Dinner</h4>
            <p>There are generally two different ways of pairing wines: congruent pairing, which means that you would pair a lemon-based sauce with a wine with sour notes.</p>
            <p>This is a very popular- and probably the easier way of pairing wines.</p>
            
            <h4>Light-bodied vs Full-bodied Wine</h4>
            <p>The body of the wine refers to the way that the drink feels in your mouth- or the mouthfeel, and the richness of the wine.</p>
            <p>This texture and flavor of the wine are created by several factors: the grape variety, the alcohol level, and the sweetness of the grapes at the time of harvesting.</p>

            <h4>Read the Label</h4>
            <p>The things that you should look for on the label are as follows:</p>
            <ul>
               <li>The country and the region that the wine was produced in.</li>
               <li>The Name of the Producer/Wine</li>
               <li>Grape Variety</li>
               <li>Vintage</li>
               <li>Sulfites</li>
            </ul>

            <h4>Final Note</h4>
            <p>Drinking wine is an experience, and an experience that is there to be enjoyed.</p>
            <p>The more that you drink wine, the more confidence you will have choosing a good wine.</p>
             <div class="row justify-content-center">
                <div class="col-4">
                   <button type="button" class="btn btn-warning btn-block text-black" data-dismiss="modal">Cancel</button>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>